<div class="message" [ngStyle]="{'margin-left':  (canvasMaxWidth - canvasWidth) / 2 + 'px', 'width': canvasWidth + 'px'}">
  <app-rocket-message [text]="msgText" [size]="30" [color]="'white'" [play]="msgPlay" [duration]="4"></app-rocket-message>
</div>
<app-rocket-background [canvasWidth]="canvasWidth" [canvasHeight]="canvasHeight"></app-rocket-background>
<canvas #mainCanvas></canvas>
<div class="buttons" [ngStyle]="{'margin-left':  (canvasMaxWidth - canvasWidth) / 2 + 20 + 'px'}">
  <button class="control-btn" (click)="start()" [ngStyle]="{display: rocketService.gameStatus === gameStatus.Init ? '' : 'none'}">Launch</button>
  <!-- <button
    class="control-btn"
    (click)="crash()"
    [ngStyle]="{display: (rocketService.gameStatus === gameStatus.Init || rocketService.gameStatus === gameStatus.AfterCrash || rocketService.gameStatus === gameStatus.Crashed) ? 'none' : ''}"
  >
    Crash
  </button> -->
</div>
