<div class="bit-rocket">
  <div #canvasWrapper class="canvas-wrapper">
    <div [ngStyle]="{'margin-left':  -maxWidth + 'px'}">
      <app-rocket-game *ngIf="rocketService.assetsReady" class="bit-rocket" [canvasWidth]="canvasWidth" [canvasHeight]="canvasHeight"></app-rocket-game>
    </div>
    <div *ngIf="showMultiplier" class="multiplier">{{rocketService.multiplier | number: '.2-2'}} X</div>
    <div *ngIf="showStartupTimer" class="startup-timer">Next round starts in {{startUpRemains}} {{startUpRemains > 1 ? 'secs' : 'sec'}}...</div>
    <a routerLink="/game/casino" class='goto-casino'>go to casino</a>
  </div>
</div>
